@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
  }
}

body {
  background: radial-gradient(101.7% 143.02% at 81.46% 24.71%, #121F2F 0%, #518AAC 100%);
  background-attachment: fixed; /* Fixa o gradiente no lugar */
  min-height: 100vh; /* Garante que o body ocupe pelo menos a tela inteira */
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

